.nav {
    padding: 1vh;
    position: sticky;
    top: 0;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.nav ul li:first-child {
    color: rgb(65, 0, 126);
}

.nav ul li {

}